input {
    width: 200px;
    height: 20px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 15px;
}
form {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 50px;
}
button {
    background-color: #55a1ef;
    width: 150px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

