{% extends 'base.html' %}
{% block scss %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/style/css.css' %}">
    <link rel="stylesheet" href="{% static '/style/login.css' %}">
    {% endblock %}
{% block content %}
    <h1>Вход</h1>
    <hr>
    {% if form.errors %}
        <p>{{ forms.errors.error }}</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {{form}}
        {% csrf_token %}
        <button type="submit">Войти</button>
    </form>
{% endblock %}